.card {
  padding: 1.5rem;
  &.primary {
    border-radius: 12px;
    border: 1px solid var(--gray-40);
    background: var(--purple-100);
  }
  &.secondary{
    border-radius: 16px;
    background: #F5F5F5;
  }
}
